<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="schermachtergrond">
      <div class="schermRand">
        <section class="scherm profielscherm" id="mainScherm">
          <h1>Je profiel</h1>
          <img src="/images/profielfoto2.png" alt="ProfielPicture">
            <ul class="GamesList">
              <% spel.forEach(function(hetSpel) { %>
              <li class="gameItem">
                <p><%= hetSpel.name %> | <%= hetSpel.genre %></p>
                <button id="verwijderButton" data-id="<%=hetSpel._id%>">Verwijder</button>
              </li>
              <% });%>
            </ul>
        </section>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>
