<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="schermachtergrond">
      <div class="schermRand">
        <section class="scherm profielscherm">
          <h1>
            Je profiel<br><br>
            <ul class="GamesList">
              <% spel.forEach(function(hetSpel) { %>
              <li>
                <%= hetSpel.name %>
                <button id="verwijderButton" data-id="<%=hetSpel._id%>">Verwijder</button> <br>
              </li>
              <% });%>
            </ul>
          </h1>
        </section>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>
